/* ----- NATIVE HTML ----- */

/* sets the margin to 0 and default font */
* {
    margin: 0%;
    font-family: monospace;
    cursor: default;
}

/* sets the header dimensions */
header {
    width: 100vw;
    height: 8vh;
    background-color: #ee1515;
    display: flex;
    align-items: center;
}

/* ----- CLASSES ----- */

/* --- UTILITY --- */

.U-correct {
    filter: sepia(100%) hue-rotate(90deg) saturate(500%);
}

.U-incorrect {
    filter: sepia(100%) hue-rotate(-50deg) saturate(500%);
}

/* --- HEADER --- */

/* styles the links in the header */
.header__link {
    font-size: 3vh;
    margin-left: 2vw;
    text-decoration: none;
}

/* sets the colour of active links */
.header__link--active {
    color:#000000;
}

/* when an active link is hovered over */
.header__link--active:hover {
    color:#15eeee;
}

/* when and active link is clicked on */
.header__link--active:active {
    color: #0000ff;
}

/* when a link is not active, deactive when api is not loaded */
.header__link--deactive {
    color:#888888;
    cursor: not-allowed;
}

/* --- MAIN CONTENT --- */

/* styles the input boxes at the top of the page */
.container__gameModes__modes__input {
    font-size: 2.5vh;
    margin-top: 5px;
}

/* sets columns for the game space */
.container__gameSpace__column {
    width:50vw;
    height:65vh;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* conatiner hwere the pokemon image will be put */
.container__gameSpace__column__image {
    width:30vw;
    height:30vw;
    background-image: url(/Images/pokeball.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* sets the size of the imported images */
.container__gameSpace__column__image__img {
    width: 25vw;
    height: 25vw;
}

/* when hovering get darker */
.container__gameSpace__column__image__img:not(.U-correct):not(.U-incorrect):hover {
    filter: brightness(0.8);
}
/* when clicking get darker */
.container__gameSpace__column__image__img:not(.U-correct):not(.U-incorrect):active {
    filter: brightness(0.6);
}



/* ----- IDS ----- */

/* --- HEADER --- */

/* the pokeball in the header */
#header__image {
    height: 7vh;
    margin-left: 1vw;
}

/* --- MAIN CONTENT --- */


/* holds the main content */
#container {
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contains the page title */
#container__titleBox {
    width:100vw;
    height:6vh;
    font-size: 3.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* holds the game modes section at the top of the page */
#container__gameModes {
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contains the gamemode's title */
#container__gameModes__title {
    width:100vw;
    height:3vh;
    font-size: 3vh;
    text-align: center;
}

/* contains the gamemodes links */
#container__gameModes__modes {
    width: 100vw;
    height: 3vh;
    text-align: center;
}

/* holds the main game elements */
#container__gameSpace {
    width: 100vw;
    height: 65vh;
    display: flex;
}

/* styles the points container */
#container__points {
    width:100vw;
    height: 5vh;
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container for text at the bottom of the page */
#container__bottom {
    width: 100vw;
    height: 10vh;
    font-size: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}